/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        home_row_mod_left: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 18 30 40 39 41 35 23 11 10 18 19 20 21 22 30 31 32 33 34 7 8 9>;
            hold-trigger-on-release;
        };

        home_row_mod_right: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        custom_layer_tap: custom_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CUSTOM_LAYER_TAP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
        };

        mm_escape_grave: mm_escape_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_ESCAPE_GRAVE";
            bindings = <&kp ESC>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_hyper_meh: td_hyper_meh {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_HYPER_MEH";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(LG(LEFT_SHIFT)))>, <&kp LA(LC(LEFT_SHIFT))>;

            tapping-term-ms = <175>;
        };

        mm_backspace_del: mm_backspace_del {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BACKSPACE_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_jk_backspace {
            bindings = <&kp DEL>;
            key-positions = <19 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            display-name = "main";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&mm_escape_grave  &kp Q                          &kp W                          &kp E                       &kp R                            &kp T        &kp Y    &kp U                              &kp I                        &kp O                            &kp P          &mm_backspace_del
&kp TAB           &home_row_mod_left LEFT_GUI A  &home_row_mod_left LEFT_ALT S  &home_row_mod_left LCTRL D  &home_row_mod_left LEFT_SHIFT F  &kp G        &kp H    &home_row_mod_right RIGHT_SHIFT J  &home_row_mod_right RCTRL K  &home_row_mod_right RIGHT_ALT L  &kp SEMICOLON  &kp SQT
&td_hyper_meh     &kp Z                          &kp X                          &kp C                       &kp V                            &kp B        &kp N    &kp M                              &kp COMMA                    &kp DOT                          &kp SLASH      &custom_layer_tap 7 KP_ENTER
                                                                                &kp LGUI                    &mo 1                            &kp SPACE    &kp RET  &mo 2                              &kp RALT
            >;
        };

        lower_layer {
            display-name = "lower";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &mm_backspace_del
&trans     &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans  &trans     &trans  &trans
                           &trans  &trans  &trans    &trans    &trans    &trans
            >;
        };

        upper_layer {
            display-name = "upper";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  * |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &mm_backspace_del
&trans     &trans    &trans  &trans    &trans    &trans       &trans     &trans    &trans     &trans    &trans    &trans
&trans     &trans    &trans  &trans    &trans    &trans       &trans     &trans    &trans     &trans    &trans    &trans
                             &trans    &trans    &trans       &trans     &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &sl 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "adjust";
        };

        function_layer {
            bindings = <
&trans  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &out OUT_TOG  &trans  &trans  &trans  &trans  &bt BT_CLR
&trans  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans         &trans         &trans         &trans         &trans           &trans        &trans  &trans  &trans  &trans  &trans
                                      &trans         &trans         &trans           &trans        &trans  &trans
            >;

            label = "function";
        };

        remote_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "remote";
        };

        gaming_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "gaming";
        };

        extra_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N7           &kp N8        &kp N9        &kp KP_MINUS
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N4           &kp N5        &kp N6        &kp KP_PLUS
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &trans
                        &trans  &trans  &trans    &trans  &trans  &kp KP_NUMBER_0
            >;

            label = "extra";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        lower+upper {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
